h1
{
    border: 3px solid hsl(260, 100%, 55%);
    border-radius: 20px;
}

p
{
    border-bottom: 3px solid rgb(250, 30, 30);
    border-top: 3px solid rgb(255, 255, 35);
    border-left: 3px dotted rgb(255, 180, 40);
    border-right: 3px dotted rgb(60, 255, 60);

    border-radius: 10px;
}